<!--<div style="border: 2px solid black; padding: 15px; border-radius: 10px;">
  <h1>New Friend</h1>

  <%= render "form", friend: @friend %>


  <div class = container>
    <br>
    <%= link_to "Back to friends", friends_path, class:"btn btn-secondary btn-sm" %>
  </div>
</div>
-->


<div class="card border-dark text-light mb-3" style="max-width: 180rem;">
      <div class="card-header bg-dark">
        <h2 class="mb-0">New Friend</h2>
      </div>
      <div class="card-body">
        <div class="card-text text-dark">
          <%= render "form", friend: @friend %>
       
          <br>
          <%= link_to "Back to friends", friends_path, class:"btn btn-secondary btn-sm" %>
        </div>
      </div>
</div>

